## *args
when we are not sure about that how many arguments being passed to the function then we can use the *args as function parameter

*args allow us to pass  the variable number of non keyword argument to fucntion

the arguments are always as a tuple

we can rename it like *param

# **kwargs
kwargs allows us to pass the variable number of keywords arguments to the function

the argument are passed as a dictionary

it can be renamed

def myfunc (positional arguments, ***args**, named argument,****kwargs**)

In [ ]:
def add(a,b,c):
  return a+b+c

print(add(10,20,30)) #sum of two numbers

60

In [ ]:
print(add(234,45,35,34))

TypeError: ignored

In [ ]:
def some_args(arg1, arg2, arg3):
  print("arg1",arg1)
  print("arg2",arg2)
  print("arg3",arg3)

# my_list = [2,3,4] error
my_list = [2,3]
some_args(1, *my_list)

arg1 1
arg2 2
arg3 3

In [ ]:
def add1(*args):
  return sum(args)
#*args will take dynamic argument list as tuple
print(add(1,2,3))
print(add(1,2,3,4))
print(add(1,2,3,4,5))

6

In [ ]:
def some_args(arg1, *args):
  print("arg1",arg1)
  print("arg2",args)
  print("arg3",args)
  print("arg3",args)
  for i in args:
    print(i)

my_list = [2,3,4]

some_args(1, *my_list)

arg1 1
arg2 (2, 3, 4)
arg3 (2, 3, 4)
arg3 (2, 3, 4)
2
3
4

In [ ]:
def add1(*args):
  return sum(args)

list1 = [1,2,3,4,5,6,7]
tuple1 = (1,2,3,4,5,6,7)

add1(*list1), add1(*tuple1)

(28, 28)

In [ ]:
list1 = [1,2,3,4,5,6,7]
list2 = [1,2,3,4,5,6,7]
list3 = [1,2,3,4,5,6,7]
list4 = [1,2,3,4,5,6,7]

add1(*list1, *list2,*list3,*list4) #all four lists are unpacked and add

112

In [ ]:
def User_details(*args):
  print(args)
User_details('asif',324235,3424,54,'india','hindi')

('asif', 324235, 3424, 54, 'india', 'hindi')

In [ ]:
def UserDetails(**kwargs):
  print(kwargs)

UserDetails(name='sdf',id=35, pincode=346, age=34, country='india')

{'name': 'sdf', 'id': 35, 'pincode': 346, 'age': 34, 'country': 'india'}

In [ ]:
def UserDetails(**kwargs):
  for key, val in kwargs.items():
    print(key,val)

UserDetails(name='sdf',id=35, pincode=346, age=34, country='india')

name sdf
id 35
pincode 346
age 34
country india

In [ ]:
#using dictionary
mydict = {'name':'asif','id':345, 'pincode':3464,'age':456,'country':'sfs'}
UserDetails(**mydict)

name asif
id 345
pincode 3464
age 456
country sfs

In [ ]:


def UserDetails(licenseNo, *args, phoneNo=0, **kwargs): #using all four argument
    print('license No:',licenseNo)
    j=''
    for i in args:
      j = j+i
    print('full name:', j)
    print('phone number:',phoneNo)
    for key, val in kwargs.items():
      print(key,val)

name = ['asif',' ', 'ali',' ', 'bhat']
mydict = {'name':'aisf','id':435, 'pincode':5464, 'age':33, 'country':'dfgad'}

UserDetails('fvvt', *name, phoneNo=876978674, **mydict)

licence No: fvvt
full name: asif ali bhat
phone number: 876978674
name aisf
id 435
pincode 5464
age 33
country dfgad

In [ ]:
def UserDetails(licenseNo, **kwargs, *args): #this will fail *args must come before **args
    print('nothing')

SyntaxError: ignored

In [ ]:
#the below function will fail. Default argument/positional  argument (license) must come after positional argument
def UserDetails(id=1, licenseNo, *args):
  print('nothing')

SyntaxError: ignored