a function is a block of organized code written to carry out a specific task

functions help break our program into smaller and modular chunks for better readability

informattion can be passed into a function as arguments

parameter are specified after the function name inside the parenthesese

parameter v/s argument

a parameter is the variable listed inside the paentheses in the function definition

an argument is the value that is sent to the function when it is called

Built-in function: python predefined functions that are readily available for use like min(), max(), sum(), print()

User-Defined function: function that we define ourselves to perform a specific task

Anonymous functions: function that is defined without a name ,Anonymous functions are alse called lambda functios. They are not declred with the def keyword

In [ ]:
def even_odd(num):#even odd test
    """ this function will check whether a number is even or odd"""
    if num%2 == 0:
      print(num,'is even no')
    else:
      print(num,'is odd number')

even_odd(3)
even_odd(4)
print(even_odd.__doc__) #print function documentation string

3 is odd number
4 is even no
 this function will check whether a number is even or odd

In [ ]:
def fullname (firstname, middlename, lastname):  #concatenate string
  fullname = firstname, middlename,lastname
  print(fullname)

fullname('asf','asli','bvah')

('asf', 'asli', 'bvah')

In [ ]:
def fullname(firstname, middlename, lastname): #concatenate string
  fullname = firstname,middlename,lastname
  print(fullname)

fullname(lastname='agd', middlename ="awet", firstname= 'asert')

('asert', 'awet', 'agd')

In [ ]:
fullname('asdrf') #functtion throw an error as it requires 3 argument

TypeError: ignored

In [ ]:
def myfunc(city = 'Mumbai'):
  print('most populous city:',city)

In [ ]:
myfunc()  #when a function is called without an argument it will use different value

most populous city: Mumbai

In [ ]:
var1 = 100 #variable with global scope

def myfunc():
  print(var1)  #value 100 will be displayed due to glabal scope of variable

myfunc()
print(var1)

100
100

In [ ]:
def myfunc1():
  var2 = 10 #variable with local scope
  print(var2)

def myfunc2():
  print(var2)  #this will throw error becouse var2 has a  local scope

myfunc1()
myfunc2()

10

NameError: ignored

In [ ]:
var =100 #variable with global scope

def myfunc():
  var1 = 99 #local scope
  print(var1)

myfunc()
print(var1)  #the original value of var1 100 wil be retained due to global scope

99
100

In [ ]:
list1 = [11,22,33,44,55]

def myfunc(list1):
  del list1[0]

print('list1 before calling the function:',list1)
myfunc(list1) #pass by reference(any change in the  parameter within the function)
print("list1 after calling the function:",list1)

list1 before calling the function: [11, 22, 33, 44, 55]
list1 after calling the function: [22, 33, 44, 55]

In [ ]:
def myfunc(list1):
  list1.append(100)

print("list1 before calling the function:",list1)
myfunc(list1)  #pass by reference (any change in the parameter within the function)
print('list1 after calling the function',list1)

list1 before calling the function: [22, 33, 44, 55]
list1 after calling the function [22, 33, 44, 55, 100]

In [ ]:
list1 = [11,22,33,44,55]

def myfunc(list1):
  list1 = [10,100,1000,10000] #link of 'list1' with previous object is broaken
  print(list1)
print(list1)
myfunc(list1)
print(list1)

[11, 22, 33, 44, 55]
[10, 100, 1000, 10000]
[11, 22, 33, 44, 55]

In [ ]:
def swap(a,b):
  temp =a
  a = b
  b = temp
  print(a,b)

a = 10
b = 20
swap(a,b)  #pass by reference
a,b

20 10

(10, 20)

In [ ]:
#calculate factorial of a number using recursive function

def factorial(num):
  if num<= 1:
    return 1
  else:
    return num*factorial(num-1)

factorial(4)

24

In [ ]:
#sum of first n natural numbers
def add(num):
  if num ==0:
    return 0
  else:
    return num + add(num-1)

add(5)

15

In [ ]:
# generate fibonacci series

def fibonacci(num):
  if num <=1:
    return num
  elif num == 2:
    return 1
  else:
    return(fibonacci(num-1)+fibonacci(num-2))

nums = int(input("how many fibonacci numbers you want to generate"))

for i in range(nums):
  print(fibonacci(i)) #generate fibonacci series

how many fibonacci numbers you want to generate10
0
1
1
2
3
5
8
13
21
34