**lambda:**
a lambda function is an anonymous function (function without a name)

lambda functions  have any number of argument but only one expression .the expression is evaluated and returned

we use lambda functions when we required a nameless function for a short period of time

syntax: lambda argument(s): expression'

**filter:**
it is used to filter the iterables /sequence as per the conditions

filter function filters the original iterable and passes the items that returns true for the function provided to filter


it is normally used with lambda function to filter list, tuple ,or sets

filter() method takes two parameters:
function-function tests if elements of an iterable returns true of false

iterable sequence which needs to  be filtered ,could be sets ,lists, tuples, ,or any,iterators

syntax: filter(function, iterable)

**map:**

the map() function applies a given function toe each iter of an iterable(list ,tuple etc) and returns a list of the results

map() function takes two parameters:

function: the function to execute for each item  of given iterable

iterable:  it is a iterable which is to be mapped

returns : returns a list of the results after applying the given function to each item of a given iterable(list, tuple etc)

SYNTAX: map(function, iterable)

**reduce:**

the reduce() function is defined in the functools python module .the reduce() function receives two arguments , a function and an iterables, however. it doesn't return another iterables,instead it returns a single value

syntax: reduce(lambda a,b: a+b, list1)

## lambda

lambda inputs : outputs

In [ ]:
x = (i for i in range(10) if i%2==0)
print(next(x))
print(next(x))

0
2

In [ ]:
x = [i for i in range(10) if i%2==0]
print(x)

[0, 2, 4, 6, 8]

In [ ]:
addition = lambda a: a+120
print(addition(3))

123

In [ ]:
def addition(a):
  print(a+120)

addition(3)

123

In [ ]:
product = lambda a,b : a*b
print(product(3,5))

15

In [ ]:
addition = lambda a,b,c :a+b+c
print(addition(5,6,7))

18

In [ ]:
# this lambda function take any no of arguments
res = (lambda *args: sum(args))
print(res(35,46,6))
print(res(4,6,6,7,35))

87
58

In [ ]:
#this lambda function take any number of parameter/variable with value
res = (lambda **kwargs: sum(kwargs.values()))
res(a = 34, b=345, c=5), res(a =234,b=23)

(384, 257)

In [ ]:

#  user defined function to find product of numbers
def product(nums):
  total = 1
  for i in nums:
    total *=i
  return total

# this lambda function can take  any  number of arguments and return their product

res1 = (lambda **kwargs: product(kwargs.values()))
res1(a=45,b=56,c=67)

168840

In [ ]:
def myfunc(n):
   return lambda a :a+n

add10 = myfunc(10)
add20 = myfunc(20)
add30 = myfunc(30)

print(add10(5))
print(add20(5))
print(add30(5))

15
25
35

## filter

filter(function, inputs)

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]

def odd(n):
  if n%2 == 1: return True
  else: return False


# odd_num = (filter(odd,list1))  #this filter function filter list  iterator object
odd_num = list(filter(odd, list1))
odd_num

[1, 3, 5, 7, 9]

In [3]:
# using lambda
list1 = [1,2,3,4,5,6]
odd_num = list(filter(lambda x: x%2==1, list1))
odd_num

[1, 3, 5]

## map

map(function, inputs)

In [ ]:
def twice(n):
  return n*2

doubles = list(map(twice,odd_num))
doubles

[2, 6, 10]

In [12]:
# using lambda
doubles = [map(lambda x: x*2,odd_num)]
doubles

In [7]:
doubles[0]

In [13]:
next(iter(doubles[0]))

2

## reduce

In [ ]:
from functools import reduce

In [ ]:
def add(a,b):
  return a+b
sum_all = reduce(add, doubles)  #this reduces function will performs sum of all items
sum_all

18

In [ ]:
# using lambda
sum_all = reduce(lambda a,b: a+b, doubles)
sum_all

18

In [ ]:
# putting all together reduce, filter, map ,lambda
sum_all = reduce(lambda a,b: a+b, list(map(lambda n: n*2, list(filter(lambda n: n%2==1,list1 )))))
sum_all

18

In [ ]:
even = list(filter(lambda n: n%2 == 0,list1))
even

[2, 4, 6]

In [ ]:
list2 = ['one','TWO','three','FOUR']

upper = list(filter(lambda x: x.isupper(),list2)) #filter upper case
upper

['TWO', 'FOUR']

In [ ]:
lower = list(filter(lambda x: x.islower(),list2)) #filter lower case
lower

['one', 'three']

In [ ]:
# isnumeric()  numeric
# isalpha()     alphabet
# isalnum()     alphanumeric

In [ ]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

def double(x):
  return x+x

def add(x,y):
  return x+y

def square(x):
  return x*x

print(list(map(double, list1))) #double each number using map
print (list(map(add, list1, list2))) #add two items using map
print(list(map(square, list1))) #square each number

[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]

In [ ]:
print(list(map(lambda x:x+x, list1)))
print(list(map(lambda x,y: x+y,list1, list2)))

[2, 4, 6, 8]
[6, 8, 10, 12]

In [ ]:
list2 = [1,2,3,4]
import operator
product = reduce (operator.mul,list2) #product of all number in a list
product

24

In [ ]:
add = reduce(operator.add,list2) #add all the numbers in the list
add

10

In [ ]:
concat = reduce(operator.add, ['python', ' ', 'rocks']) #concat string
concat

'python rocks'

In [ ]:
prod_str = reduce(operator.mul, ['hello ', 3])
prod_str

'hello hello hello '

In [ ]:
min_num = reduce(lambda a,b: a if a<b else b, list2) #minimum number in the list
min_num

1

In [ ]:
max_num = reduce(lambda a,b: a if a>b else b, list2 ) #maximum number in the list
max_num

4

In [ ]:
def min_func(a,b):
  return a if a <b else b

def max_func(a,b):
  return a if a>b else b

min_num = reduce(min_func,list2)
min_num

1

In [ ]:
max_num = reduce(max_func,list2)
max_num

4

In [ ]:
print(reduce(lambda a, b: bool(a and b),[0,0,1,0,1]))

False

In [ ]:
print(reduce(lambda a, b: bool(a and b),[0,0,0,0,0]))

False

In [ ]:
print(reduce(lambda a, b: bool(a and b),[1,1,1,1,1]))

True

In [ ]:
print(reduce(lambda a, b: bool(a or b),[1,1,1,1,1]))
print(reduce(lambda a, b: bool(a or b),[0,0,0,0,0]))
print(reduce(lambda a, b: bool(a or b),[0,0,1,0,1]))

True
False
True