operators are special symbols in python which are used to perform operations on variables /values

In [ ]:
#arithmetic operator
# +,-,*,/,%, **, //
x = 'asdf'
y = 'asdr'

c = x+y
c

'asdfasdr'

In [ ]:
a =5
b=4

c = a//b  #division floor
c

1

In [ ]:
# comparison operator
# <,>, == ,!=,>=,

x =20
y = 30

a ='sdf'
b='sder'
c = "sdf"

print(a==b)
print(a==c)
print(a !=b)

False
True
True

In [ ]:
# logical operator

x =True
y = False
print(x & y)
print(x or y)
print(not x)

False
True
False

In [ ]:
# bitwise operators
# bitwise operators act on bits and performs bit by bit operations

x = 18 #binary form 10010
y= 6 #binary forms  00110

print(x & y)

2

In [ ]:
print(x | y)

22